{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {},
  "settings": {}
}
